<div id="nomster-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#nomster-carousel" data-slide-to='0' class='active'></li>
    <li data-target="#nomster-carousel" data-slide-to='1'></li>
    <li data-target="#nomster-carousel" data-slide-to='2'></li>
    <li data-target="#nomster-carousel" data-slide-to='3'></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class='item active'>
      <img src='/assets/coloradoTrail.jpg' alt="Colorado Trail" class='img-responsive'>
      <div class='carousel-caption'>Dogs on the Colorado Trail</div>
    </div>
    <div class='item'>
      <img src='/assets/coloradoDogInT.jpg' alt="Dog in T" class='img-responsive'>
      <div class='carousel-caption'>Colorado Dog</div>
    </div>
    <div class='item'>
      <img src='/assets/dogsChairlift.jpg' alt="Chairlift Dogs" class='img-responsive'>
      <div class='carousel-caption'>Ski Dogs</div>
    </div>
    <div class='item'>
      <img src='/assets/brewDogsCo.jpg' alt="Brew Dogs" class='img-responsive'>
      <div class='carousel-caption'>Dogs and Brews</div>
    </div>
  </div>   <!-- carousel-inner -->

  <!-- Controls -->
  <a class="carousel-control left" href="#nomster-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#nomster-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>   <!-- nomster-carousel carousel slide -->

<% @places.each do |place| %>
  <div class='booyah-box col-xs-10 col-xs-offset-1'>
    <div class='place-info col-xs-12'>
      <div class='col-xs-6'>
        <h1><%= link_to place.name, place_path(place) %></h1>
      </div>
      <div class='col-xs-6'>
        <span class='pull-right'>
          <i><%= place.address %></i>
        </span>
      </div>
      <div class='col-xs-12'>
        <p><%= place.description %></p>
        <% if place.user.present? %>
            <small><%= place.user.email %></small>
        <% end %>
      </div>
    </div>

    <!-- last_photo and last_comment defined in place.rb -->
    <div class='place-photo-comment col-xs-12'>
      <% if place.photos.present? %>
        <div class='col-xs-4'>
          <img src='<%= place.last_photo.picture %>' class='img-responsive' alt='Last Place Photo' style="max-width: 95%">
        </div>
        <% if place.comments.present? %>
          <div class='col-xs-8'>
            <blockquote>
              <% if place.last_comment.humanized_rating.present? %>
                <b><%= place.last_comment.humanized_rating %></b>
              <% end %>
              <%= place.last_comment.message %>
              <small><%= place.last_comment.user.email %></small>
            </blockquote>
          </div>
        <% end %>
      <% else %>
        <% if place.comments.present? %>
          <div class='col-xs-12'>
            <blockquote>
             <% if place.last_comment.humanized_rating.present? %>
                <b><%= place.last_comment.humanized_rating %></b>
              <% end %>
              <%= place.last_comment.message %>
              <small><%= place.last_comment.user.email %></small>
            </blockquote>
        </div>
        <% end %>
      <% end %>
    </div>   <!-- end class place-photo-comment -->
  </div>
<% end %>

<div class='digg_pagination'>
  <%= will_paginate @places %>
</div>




