<div id='nomster-carousel-wrapper' class='container-fluid'>
  <div id='nomster-carousel' class='carousel slide' data-ridr='carousel'>

    <!-- Indicators -->
    <ol class='carousel-indicators'>
      <li data-target='#nomster-carousel' data-slide-to='0' class='active'></li>
      <li data-target='#nomster-carousel' data-slide-to='1'></li>
      <li data-target='#nomster-carousel' data-slide-to='2'></li>
      <li data-target='#nomster-carousel' data-slide-to='3'></li>
      <li data-target='#nomster-carousel' data-slide-to='4'></li>
      <li data-target='#nomster-carousel' data-slide-to='5'></li>
      <li data-target='#nomster-carousel' data-slide-to='6'></li>
      <li data-target='#nomster-carousel' data-slide-to='7'></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class='carousel-inner'>
      <div class='item active'>
        <div class='col-xs-12 col-sm-6 col-md-4'><a href='#'>
          <img src='/assets/dogsChairlift_modified.jpg' alt='Chairlift Dogs' class='img-responsive'>
          <div class='carousel-caption'>We came up the easy way</div>
        </a></div>
      </div>
      <div class='item'>
        <div class='col-xs-12 col-sm-6 col-md-4'><a href='#'>
          <img src='/assets/CoSpringsDogParks_modified.jpg' alt='CoS Dog Parks' class='img-responsive'>
        </a></div>        
      </div>
      <div class='item'>
        <div class='col-xs-12 col-sm-6 col-md-4'><a href='#'>
          <img src='/assets/dogPlayGroup_modified.jpg' alt='Playing near Mountains' class='img-responsive'>
          <div class='carousel-caption'>Playing at the base of the Rockies</div>
        </a></div>      
      </div>
      <div class='item'>
        <div class='col-xs-12 col-sm-6 col-md-4'><a href='#'>
          <img src='/assets/aspen_avalanche_modified.jpg' alt='Avalanche Rescue' class='img-responsive'>
          <div class='carousel-caption'>Aspen Avalanche Rescue Dog</div>
        </a></div>
      </div>      
      <div class='item'>
        <div class='col-xs-12 col-sm-6 col-md-4'><a href='#'>
          <img src='/assets/coloradoLabs_modified.jpg' alt='Labs in Colorado' class='img-responsive'>
          <div class='carousel-caption'>Summer Mountain Hike</div>
        </a></div>
      </div>
      <div class='item'>
        <div class='col-xs-12 col-sm-6 col-md-4'><a href='#'>
         <img src='/assets/brewDogsCo_modified.jpg' alt='Brew Dogs' class='img-responsive'>          
        </a></div>
      </div>
      <div class='item'>
        <div class='col-xs-12 col-sm-6 col-md-4'><a href='#'>
          <img src='/assets/coloradoTrail_modified.jpg' alt='Hiking the CO Trail' class='img-responsive'>
          <div class='carousel-caption'>Bernese Mountain Dogs on the Colorado Trail</div>
        </a></div>
      </div>
      <div class='item'>
        <div class='col-xs-12 col-sm-6 col-md-4'>
          <img src='/assets/goldenFourteen_modified.jpg' alt='Golden at 14K ft' class='img-responsive'>
          <div class='carousel-caption'>Top of Colorado: 14,000 Ft</div>
        </a></div>
      </div>      
    </div>   <!-- carousel-inner -->

    <!-- Controls -->
    <a class='left carousel-control' href='#nomster-carousel' data-slide='prev'>
      <span class='glyphicon glyphicon-chevron-left'  aria-hidden='true'></span>
      <span class='sr-only'>Previous</span>
   </a>
    <a class='right carousel-control' href='#nomster-carousel' data-slide='next'>
      <span class='glyphicon glyphicon-chevron-right'  aria-hidden='true'></span>
      <span class='sr-only'>Next</span>
    </a>

  </div>   <!-- id: nomster-carousel -->
</div>   <!-- id: nomster-carousel wrapper -->

<% @places.each do |place| %>
  <div class='booyah-box col-xs-10 col-xs-offset-1'>
    <div class='place-info col-xs-12'>
      <div class='col-xs-6'>
        <h1><%= link_to place.name, place_path(place) %></h1>
      </div>
      <div class='col-xs-6'>
        <span class='pull-right'>
          <i><%= place.address %></i>
        </span>
      </div>
      <div class='col-xs-12'>
        <p><%= place.description %></p>
        <% if place.user.present? %>
            <small><%= place.user.email %></small>
        <% end %>
      </div>
    </div>

    <!-- last_photo and last_comment defined in place.rb -->
    <div class='place-photo-comment col-xs-12'>
      <% if place.photos.present? %>
        <div class='col-xs-4'>
          <img src='<%= place.last_photo.picture %>' class='img-responsive' alt='Last Place Photo' style='max-width: 95%'>
        </div>
        <% if place.comments.present? %>
          <div class='col-xs-8'>
            <blockquote>
              <% if place.last_comment.humanized_rating.present? %>
                <b><%= place.last_comment.humanized_rating %></b>
              <% end %>
              <%= place.last_comment.message %>
              <small><%= place.last_comment.user.email %></small>
            </blockquote>
          </div>
        <% end %>
      <% else %>
        <% if place.comments.present? %>
          <div class='col-xs-12'>
            <blockquote>
             <% if place.last_comment.humanized_rating.present? %>
                <b><%= place.last_comment.humanized_rating %></b>
              <% end %>
              <%= place.last_comment.message %>
              <small><%= place.last_comment.user.email %></small>
            </blockquote>
        </div>
        <% end %>
      <% end %>
    </div>   <!-- end class place-photo-comment -->
  </div>
<% end %>

<div class='digg_pagination'>
  <%= will_paginate @places %>
</div>


<script type='text/javascript'>
  $('#nomster-carousel').carousel({
    interval: 4000
  });

  $('.carousel .item').each(function(){
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');      
    }
    next.children(':first-child').clone().appendTo($(this));

    for (var i=0;i<1;i++) {
      next = next.next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }
      next.children(':first-child').clone().appendTo($(this));
    }
  });
</script>




